# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Environment variables
.env

# Django
db.sqlite3

# IDEs
.vscode/
.idea/

# Operating systems
.DS_Store
Thumbs.db

# Testing & type checking
.pytest_cache/
.mypy_cache/

# Coverage
.coverage
htmlcov/

# Logs
*.log

# RAG project
vector_store/
django_docs/